textarea{
background:#0d1117;
color:#58a6ff;
border:1px solid #30363d;
padding:12px;
width:420px;
height:80px;
font-family:Consolas, monospace;
font-size:14px;
border-radius:6px;
box-shadow:0 0 10px #7c3aed;
}

button{
background:#7c3aed;
border:none;
padding:12px 25px;
color:white;
font-size:16px;
cursor:pointer;
border-radius:6px;
transition:0.3s;
}

button:hover{
background:#9333ea;
box-shadow:0 0 15px #a855f7;
}
