body{
    background:#0b0b0f;
    color:white;
    font-family:Arial;
}

.container{
    margin:60px;
}

h1{
    font-size:40px;
}

.script-box{
    background:#070b16;
    border-radius:12px;
    padding:20px;
    width:450px;
    box-shadow:0 0 20px purple;
    margin-top:20px;
}

button{
    margin-top:15px;
    padding:12px 20px;
    border:none;
    border-radius:8px;
    background:linear-gradient(90deg,#7b3cff,#b46cff);
    color:white;
    font-size:16px;
    cursor:pointer;
}
